<!DOCTYPE html>
<html>
<head>
  <title>LIBRERÍA Yazmin</title>
</head>
<body>
  <div class="container">
    <div class="logo">
      <p>LIBRERÍA Yazmin</p>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar...">
      <i>&#x1F50D;</i>
    </div>
    <div class="nav-links">
      <a href="#" class="nav-link">Inicio</a>
      <a href="#" class="nav-link">Acerca</a>
      <a href="#" class="nav-link">Tienda</a>
      <a href="#" class="nav-link">Ayuda</a>
    </div>
    <button class="cart-button">
      <i class="cart-icon">&#x1F6D2;</i>
      Carrito
    </button>
  </div>
</body>
</html>