 <nav class="col-md-2 d-none d-md-block sidebar">
        <h2>SB ADMIN²</h2>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" [routerLink]="['/dasboard/ventas']">Ventas</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/dasboard/pedidos']">Pedidos</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/dasboard/productos']">Productos</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/dasboard/devoluciones']">Devoluciones</a></li>
        </ul>
</nav>