<div class="private-container">
    <header>
        <div class="logo">logo</div>
        <h1> Mi sitio  </h1>
    </header>
    <div class="body">
        <aside>
            <ul>
                <li><a [routerLink]="['/dasboard']">Ventas</a></li>
                <li><a [routerLink]="['/dasboard/devoluciones']">Devoluciones</a></li>
                <li><a [routerLink]="['/dasboard/productos']">Productos</a></li>
            </ul>
        </aside>
        <section>
            <app-template-footer></app-template-footer>
            <!-- <router-outlet></router-outlet> -->
        </section>
    </div>
    <footer>
        <p>
            Cosas del pie de pagina
        </p>
    </footer>
</div>