<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <h3>MENU PRINCIPAL</h3>
                        <ul>
                            <li>Inicio</li>
                            <li>Acerca</li>
                            <li>Tienda</li>
                            <li>Ayuda</li>
                        </ul>
                    </li>
                    <li>
                        <h3>COMPAÑIA</h3>
                        <ul>
                            <li>La Empresa</li>
                            <li>Carrera</li>
                            <li>Prensa</li>
                        </ul>
                    </li>
                    <li>
                        <h3>DESCUBRIR</h3>
                        <ul>
                            <li>El Equipo</li>
                            <li>La Historia</li>
                            <li>Lema</li>
                        </ul>
                    </li>
                    <li>
                        <h3>REDES</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <div class="info">
                <p>JR. ALISOS NRO. 355 URB. LA RIVERA</p>
                <p>JUNIN / HUANCAYO / HUANCAYO</p>
            </div>
            <div class="copyright">
                <p>&copy; Libreria Yazmin RUC: 20610499865</p>
            </div>
        </div>
    </header>
</body>
</html>
